html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
	font-family: 'Open Sans', sans-serif;

}
/** social media icons **/
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
}
.symbol a {
    font-size: 60px;
    color:#5D5D5D;
}
.symbol a:hover {
	text-decoration: none;
    color:#d1d3d3;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
/** end of social media icons **/
a {
	color: #d85656;
}
a:hover {
	color:#EE1A30;
	text-decoration: none;
}
#header {
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-position: center;
	/*parallax scrolling*/
	background-attachment: fixed;
	text-align: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf0000+0,590000+100 */
	background: rgb(191,0,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(191,0,0,1) 0%, rgba(89,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(191,0,0,1) 0%,rgba(89,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(191,0,0,1) 0%,rgba(89,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0000', endColorstr='#590000',GradientType=0 ); /* IE6-9 */
	display:table;
}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 35px;
	text-transform: uppercase;
	padding-bottom: 25px;
	text-align: center;
	letter-spacing: 5px;
}

#site-title {
    display: table-cell;
    vertical-align: middle;
	position: relative;
	text-align: center;
	background-image: url('../img/R.png');
	background-position: 50% 45%;
	background-repeat: no-repeat;
	background-size: auto;
	-webkit-background-size: auto;
  	-moz-background-size: auto;
  	-o-background-size: auto;
	/*for parallax scrolling*/
	/*background-attachment: fixed;*/
}
#header h1 {
	margin-top: -30px;
	font-size: 90px;
	color:#fff;
	text-transform: uppercase;
	/*text-shadow:5px 4px 0px #ED9494;*/
}
#header h3 {
	font-size: 30px;
	color:#FFB3B3;
}
#site-title h1 {
	font-size: 100px;
	color:#fff;
	text-transform: uppercase;
	padding-bottom: 0px;
}
#site-title h2 {
	font-size: 40px;
	color:#fff;
	padding-bottom: 40px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 200;
}
#site-title h3 {
	font-size: 19px;
	color:#FFB3B3;
	padding-bottom: 25px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 5px;
	font-weight: 200;
}
#site-title h4 {
	font-size: 22px;
	color:#FFB3B3;
	padding-bottom: 50px;
	font-family: 'Open Sans Condensed', sans-serif;
	/*letter-spacing: 5px;*/
	text-transform: uppercase;
}
@media only screen and (max-width: 470px) {
	#site-title {
		background-size: 80%;
	}
	#site-title h1 {
		font-size: 70px;
	}
	#site-title h2 {
		font-size: 30px;
	}
	#site-title h3 {
		font-size: 15px;
		letter-spacing: 3px;
	}
}