@import 'lib/vars';
@import 'lib/functions';
@import 'lib/mixins';
@import 'lib/skel';

@include skel-layout((
	reset: 'full',
	boxModel: 'border',
	grid: ( gutters: 1.5em )
));

@import 'base/page';
@import 'base/typography';

@import 'layout/header';
@import 'layout/wrapper';
@import 'layout/section';
@import 'layout/footer';

@import 'components/button';