#header {
	text-align: center;
	display: table;
	height: 100vh;
	width: 100%;

	h1, h2, h3 {
		color: _palette(fg);
		letter-spacing: 0;
	}

	h1 {
		font-family: _font(family-logo);
		font-size: 3.5em;
		font-weight: _font(weight-light);
		padding:_size(header) 0 0 0;

		@include breakpoint(medium) {
			font-size:4.5em;
		}
	}

	h2 {
		font-size: 1.8em;
		padding: _size(header) 0 _size(header)*1.5;
		letter-spacing: 1px;

		@include breakpoint(medium) {
			font-size: 2em;
			padding:_size(header)*2 0 _size(header)*2.5;
		}

		sup {
			font-size: 0.6em;
		}
	}

	h3 {
		font-size: 1.2em;
		letter-spacing: 2.8px;

		@include breakpoint(medium) {
			font-size:1.4em;
			letter-spacing: 5.5px;

		}
	}

	.table-row {
		display: table-row;
	}

	.title {
		display: table-cell;
		height: 100vh;
		vertical-align: middle;
		text-shadow: 0px 0px 30px #000;
	}

	.more {
		display: table-cell;
		vertical-align: bottom;
		padding-bottom: 10px;
		color: _palette(fg);
		line-height: 1.5em;
		font-size: 1.5em;
		height:10px;

		a {
			color: rgba(255, 255, 255, 0.5);
			@include vendor('transition', 'color #{_duration(transition)} ease-in-out' );
		}

		a:hover, a:focus {
			text-decoration: none;
			outline: none;
			color: _palette(fg);
		}
	}

	.logo {
		display: block;
		width: 100%;
		height: 150px;
		background: url('../img/R_logo.png');
		background-size: 120px;
		background-position: top;
		background-repeat: no-repeat;

		@include breakpoint(medium) {
			display: block;
			height: 225px;
			background-size: 180px;
		}
	}
}
