#header {
	text-align: center;
	display: table;
	height: 100vh;
	width: 100%;

	.wrapper {
		display: table-cell;
		vertical-align: middle;
		padding-bottom: 2%;
	}

	h1, h2, h3 {
		color: _palette(fg);
		letter-spacing: 0;
	}

	h1 {
		font-family: _font(family-logo);
		font-size: 3.5em;
		font-weight: _font(weight-light);
		padding:_size(header) 0 0 0;

		@include breakpoint(medium) {
			font-size:5em;
		}
	}

	h2 {
		font-size: 2em;
		padding: _size(header) 0;

		@include breakpoint(medium) {
			font-size: 2.5em;
			padding:_size(header)*1.5 0;
		}
	}

	h3 {
		font-family: _font(family);
		font-size: 1em;
		letter-spacing: 2.8px;
		padding-top: _size(header);

		@include breakpoint(medium) {
			font-size:1.5em;
			letter-spacing: 3.2px;
		}
	}

	.logo {
		display: block;
		width: 100%;
		height: 150px;
		background: url('../img/R_logo.png');
		background-size: 120px;
		background-position: top;
		background-repeat: no-repeat;

		@include breakpoint(medium) {
			display: block;
			height: 250px;
			background-size: 200px;
		}
	}
}