#header {
	text-align: center;
	border-bottom: 10px solid _palette(accent);
	padding: 2em 0;

	@include breakpoint(medium) {
		padding: 6em 0 5em 0;
	}

	@include breakpoint(large) {
		padding: 9em 0 8em 0;
	}

	h1 {
		font-size:3.5em;
		font-weight: _font(weight-light);
		color: _palette(fg);
		padding:0;

		@include breakpoint(medium) {
			font-size:5em;
		}

		@include breakpoint(large) {
			font-size:6em;
		}
	}

	h2 {
		font-family: _font(family);
		font-weight: _font(weight-light);
		color: _palette(accent);
		font-size: 1.5em;
		padding: 0.5em 0 1em 0;

		@include breakpoint(medium) {
			font-size: 2em;
		}

		@include breakpoint(large) {
			font-size:2.3em;
		}
	}

	h3 {
		font-family: _font(family);
		font-weight: _font(weight-light);
		font-size: 1em;
		letter-spacing: 5.5px;
		color: rgba(255, 255, 255, 0.5);
		padding-top:0.7em;

		@include breakpoint(medium) {
			font-size:1.5em;
			letter-spacing: 7.5px;
		}

		@include breakpoint(large) {
			letter-spacing: 11.5px;
		}
	}

	.logo {
		display: block;
		width: 100%;
		height: 130px;
		background: url('../img/R_logo.png');
		background-size: 100px;
		background-position: center;
		background-repeat: no-repeat;

		@include breakpoint(medium) {
			display: inline-block;
			width: 150px;
			height: 130px;
			background-size: 100px;
			vertical-align: top;
		}

		@include breakpoint(large) {
			display: inline-block;
			width: 150px;
			height: 150px;
			background-size: 120px;
			vertical-align: top;
		}
	}

	.title {
		@include breakpoint(medium) {
			display: inline-block;
			vertical-align: middle;
		}
	}
}