.btn {
	color: _palette(fg);
	background: none;
	border-radius: 0;
	width:250px;
	border: 1px solid _palette(fg);
	text-transform: uppercase;
	@include vendor('transition', 'color #{_duration(transition)} ease-in-out, border-color #{_duration(transition)} ease-in-out' );

	&:hover {
		color: _palette(accent);
		border: 1px solid _palette(accent);
	}

	@include breakpoint(medium) {
		width:320px;
		font-size: 150%;
	}
}