#Robot {
  background-image: url("../img/MtoR2.png");
  background-repeat: no-repeat;
  background-size: 2400px;
  left: 0;
  margin: 0 auto;
  margin-top:0;
  margin-bottom:0;
  width: 225px;
  height: 230px;
}
